name: "HCL AppScan CodeSweep"
on:
  pull_request:
    types: [opened,synchronize]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2.1
        with:
          appscan-url: ${{ secrets.APPSCAN_URL }}
          appscan-creds: ${{ secrets.APPSCAN_CREDS }}
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      